/* DISCLAIMER css code is frankensteined from
four sources credited in CopePen collection  */

/* beg cloud background */
body {
  background: #e1f6f4;
}

.container {
  height: 100vh;
}

.sky {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.cloud {
  position: absolute;
  background: #fff;
  border-radius: 200px;
}
.cloud:before, .cloud:after {
  content: '';
  position: absolute;
  background: #fff;
  width: 50%;
  height: 100%;
  position: absolute;
  top: -40%;
  left: 12%;
  border-radius: 100px;
}
.cloud:after {
  width: 30%;
  height: 60%;
  top: -20%;
  left: auto;
  right: 8%;
}

.cloud-1 {
  width: 120px;
  height: 60px;
  top: 10%;
  left: 100%;
  -webkit-animation: moveClouds 13s linear infinite;
          animation: moveClouds 13s linear infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.cloud-2 {
  width: 83.3333333333px;
  height: 41.6666666667px;
  bottom: 20%;
  left: 100%;
  -webkit-animation: moveClouds 12s linear infinite;
          animation: moveClouds 12s linear infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.cloud-3 {
  width: 66.6666666667px;
  height: 33.3333333333px;
  bottom: 50%;
  left: 100%;
  -webkit-animation: moveClouds 15s linear infinite;
          animation: moveClouds 15s linear infinite;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

@-webkit-keyframes moveClouds {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-110vw);
            transform: translateX(-110vw);
  }
}

@keyframes moveClouds {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-110vw);
            transform: translateX(-110vw);
  }
}
@-webkit-keyframes drift {
  0% {
    -webkit-transform: translateY(0px) rotate();
            transform: translateY(0px) rotate();
  }
  50% {
    -webkit-transform: translateY(-20px) rotate(-3deg);
            transform: translateY(-20px) rotate(-3deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate();
            transform: translateY(0px) rotate();
  }
}
@keyframes drift {
  0% {
    -webkit-transform: translateY(0px) rotate();
            transform: translateY(0px) rotate();
  }
  50% {
    -webkit-transform: translateY(-20px) rotate(-3deg);
            transform: translateY(-20px) rotate(-3deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate();
            transform: translateY(0px) rotate();
  }
}
/* end cloud background */

/* beg create balloons */
.balloon {
  position:absolute;
  bottom: -5%;
  opacity: .9;
  border-radius: 50%;
  width: 20px;
  height: 28px;
  cursor: crosshair; 
  z-index: 2;
}

/* balloon neck */
.balloon:after {
  position: relative;
  background: inherit;
  top: 20px;
  left: 10px;
  display: block;
  content: '';
  height: .7rem;
  width: .2rem;
  border-radius: 100%;
}

.balloon:hover {
  font-size: 2.1em;
  opacity: .7;
}
.balloon:active { 
  cursor: crosshair; 
} 
/* end create balloons */

/* beg infinite balloon motion */
.balloon:nth-child(1) {
  background: rgb(255,138,187);
  bottom: -10%;
  left: 45%;
  -webkit-animation: balloon 13s 2s infinite ease-in;
          animation: balloon 13s 2s infinite ease-in;
}
@-webkit-keyframes balloon {
  0% {  
      bottom: -10%;
      -webkit-transform: translateX(0) rotate(8deg); 
  }
  20% { -webkit-transform: rotate(4deg); }
  50% { -webkit-transform: translateX(5px) rotate(-12deg); }
  75% { -webkit-transform: translateX(-2px) rotate(10deg); }
  100% { 
      bottom: 110%;
      -webkit-transform: rotate(-8deg); 
  }
}
@keyframes balloon {
  0% {  
      bottom: -10%;
      -webkit-transform: translateX(0) rotate(8deg); 
  }
  20% { -webkit-transform: rotate(4deg); }
  50% { -webkit-transform: translateX(5px) rotate(-12deg); }
  75% { -webkit-transform: translateX(-2px) rotate(10deg); }
  100% { 
      bottom: 110%;
      -webkit-transform: rotate(-8deg); 
  }
}


.balloon:nth-child(2) {
  background: rgb(255,171,53);
  bottom: -10%;
  left: 20%;
  -webkit-animation: balloon2 15s 3.2s infinite ease-in;
          animation: balloon2 15s 3.2s infinite ease-in; 
}
@-webkit-keyframes balloon2 {
  0% {  bottom: -10%;
      -webkit-transform: translateX(0) rotate(0deg); 
  }
  20% { -webkit-transform: rotate(-8deg); }
  50% { -webkit-transform: translateX(-10px) rotate(10deg); }
  75% { -webkit-transform: translateX(5px) rotate(-8deg); }
  100% { 
      bottom: 110%;
      -webkit-transform: translateX(0) rotate(8deg); 
  }
}
@keyframes balloon2 {
  0% {  bottom: -10%;
      -webkit-transform: translateX(0) rotate(0deg); 
  }
  20% { -webkit-transform: rotate(-8deg); }
  50% { -webkit-transform: translateX(-10px) rotate(10deg); }
  75% { -webkit-transform: translateX(5px) rotate(-8deg); }
  100% { 
      bottom: 110%;
      -webkit-transform: translateX(0) rotate(8deg); 
  }
}


.balloon:nth-child(3){
  background: rgb(39,20,255);
  bottom: -10%;
  left: 75%;
  -webkit-animation: balloon3 19s 10s infinite ease-in;
          animation: balloon3 19s 10s infinite ease-in;
}
@-webkit-keyframes balloon3 {
  0% {  bottom: -10%;
      -webkit-transform: translateX(0) rotate(0deg); 
  }
  20% { -webkit-transform: translateX(-4px) rotate(4deg); }
  50% { -webkit-transform: translateX(8px) rotate(-8deg); }
  75% { -webkit-transform: translateX(-10px) rotate(10deg); }
  100% { 
      bottom: 110%;
      -webkit-transform: translateX(0) rotate(0deg); 
  }
}
@keyframes balloon3 {
  0% {  bottom: -10%;
      -webkit-transform: translateX(0) rotate(0deg); 
  }
  20% { -webkit-transform: translateX(-4px) rotate(4deg); }
  50% { -webkit-transform: translateX(8px) rotate(-8deg); }
  75% { -webkit-transform: translateX(-10px) rotate(10deg); }
  100% { 
      bottom: 110%;
      -webkit-transform: translateX(0) rotate(0deg); 
  }
}


.balloon:nth-child(4) {
  background: rgb(235,255,20);
  bottom: -10%;
  left: 55%;
  -webkit-animation: balloon4 12s 6s infinite ease-in;
          animation: balloon4 12s 6s infinite ease-in;
}
@-webkit-keyframes balloon4 {
  0% {  bottom: -10%;
      -webkit-transform: translateX(0) rotate(-4deg); 
  }
  40% { -webkit-transform: translateX(-8px) rotate(10deg); }
  85% { -webkit-transform: translateX(10px) rotate(-8deg); }
  100% { 
      bottom: 110%;
      -webkit-transform: translateX(0) rotate(0); 
  }
}
@keyframes balloon4 {
  0% {  bottom: -10%;
      -webkit-transform: translateX(0) rotate(-4deg); 
  }
  40% { -webkit-transform: translateX(-8px) rotate(10deg); }
  85% { -webkit-transform: translateX(10px) rotate(-8deg); }
  100% { 
      bottom: 110%;
      -webkit-transform: translateX(0) rotate(0); 
  }
}

.balloon:nth-child(5) {
  background-color: indigo;
  bottom: -10%;
  left: 65%;
  -webkit-animation: balloon4 12s 10s infinite ease-in;
          animation: balloon4 12s 10s infinite ease-in;
}

.balloon:nth-child(6) {
  background: rgb(20,189,34);
  bottom: -10%;
  left: 85%;
  -webkit-animation: balloon2 12s 4s infinite ease-in;
          animation: balloon2 12s 4s infinite ease-in;
}

.balloon:nth-child(7) {
  background: rgb(20,235,255);
  bottom: -10%;
  left: 10%;
  -webkit-animation: balloon3 14s 7s infinite ease-in;
          animation: balloon3 14s 7s infinite ease-in;
}

.balloon:nth-child(8) {
  background: rgb(255,39,20);
  bottom: -10%;
  left: 30%;
  -webkit-animation: balloon 13s 10.5s infinite ease-in;
          animation: balloon 13s 10.5s infinite ease-in;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity .5s;
          transition: opacity .5s;
}
/* end infinite balloon motion */

/* score counter */
#score {
  color: black;
  font-size: 4rem;
  position: absolute;
  right: 0.5rem;
  top: 0;
}
  