@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

body{
  width: 100%;
  height: 100%;
  font-family: 'Source Sans Pro', Helvetica,Arial,sans-serif,monospace;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  animation-name: background-color;
  animation-duration: 3s;
}

@keyframes background-color {
  from {background-color: lightskyblue;}
  to {background-color: white;}
}

a {
  text-decoration: none;
  color:black;
  padding: 15px;
}

span {
  font-weight: bold;
}

h1 {
  font-size: x-large;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  
}

nav {
  display: flex;
}

nav a {
  text-decoration: none;
  color:black;
  padding: 30px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
  .main-spacer {
    padding: 20px 20px;
  }
 
  button:hover {
    background-color: lightblue;
    animation-play-state: paused;
  }
footer {
  border-top: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 40px;
  
  }

  .footer-section {
    padding-bottom: 20px;
  }

@media (min-width: 992px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

    footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  }
  i {
    padding-right: 15px;
  }
}
