body {
  background-color: lavenderblush;
  background-image: url(./backgroundimg.png);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(11, 1fr);
  justify-content: space-evenly;
}

#clock {
  grid-column: 3/5;
  grid-row: 1;
  border: 3px red solid;
    text-align: center;
    margin-top: 10%;
    font-size: 90px;
    font-family: arial;
}

#greeting {
  grid-column: 2/7;
  grid-row: 2;
  border: 3px red solid;
    text-align: center;
    margin-top: 10%;
    font-size: 90px;
    font-family: arial;

}

main {
  /* stolen calendar code */
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(45deg, #1e90ff, #639);
}

#calendar {
  grid-column: 2/7;
  grid-row: 4/7;
  border: 3px red solid;
    display: grid;
    grid-gap: 4px;
    grid-template-columns: repeat(7, auto);
    grid-template-rows: repeat(5, auto);
}
/* stolen calendar code */
    .calendar__header {
      font-size: 1rem;
      text-align: center;
      text-transform: uppercase;
      color: #fff;
    }
    .calendar__day {
      background: #639;
      border-radius: 4px;
      color: #fff;
      font-weight: bold;
      height: 50px;
      padding: 4px;
      width: 50px;
    }
    .calendar__day:first-of-type {
      grid-column: 3;
    }
    .calendar__day--today {
      background: #fff;
      color: #639;
    }
    .calendar__day--today ~ .calendar__day {
      opacity: 0.25;
    }


#calculator {
  grid-column: 1/span2;
  grid-row: 8/-1;
  border: 3px red solid;

}

#todo {
  grid-column: 5/span3;
  grid-row: 8/-1;
  border: 3px red solid;
  color: black;
  font-size: 90px;

}